# Output directories
__pycache__

# Other directories
venv
*._*
.ropeproject
.ipynb_checkpoints
.pylintrc

# Other file types
*.code-workspace
*.sqlite*
*.pyc
*.DS_Store
*.json
*.ini
*.txt
*.log
*.pickle
*.session.*
*.png
*.bak

# App files
*.screen