# Output directories
__pycache__

# Other directories
venv*
*._*
log
models
wip
.ipynb_checkpoints

# Other file types
*.code-workspace
*.sqlite*
*.pyc
*.DS_Store
*.json
*.ini
*.txt
*.log
*.pickle
*.session.*
*.png
*.bak
*.csv
*.db
*.ipynb
