# Output directories
__pycache__

# Other directories
venv
*._*
.ipynb_checkpoints
models

# Other file types
*.code-workspace
*.sqlite*
*.pyc
*.DS_Store
*.json
*.ini
*.txt
*.log
*.pickle
*.session.*
*.png
*.bak
*.csv
*.db
*.ipynb